[user]
	name = tksn-jp
	email = tk5nj9@gmail.com
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[alias]
	co = checkout
	st = status
	br = branch
	ci = commit
	chmod = "!f(){ mode=$1; shift; git update-index --add --chmod=${mode} \"$*\"; }; f"
[commit]
	template = ~/.stCommitMsg

[ghq]
	root = /home/tksn-jp/repos
[pull]
	rebase = false
